@media (max-width: 1345px) {
  .hero-img {
    left: 30%;
  }
  .hero-container {
    padding: 180px 0px;
  }
}

/* ------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1200px) {
  .img-gallery-container .img-gallery-row {
    width: 150px;
    height: 200px;
  }
  .img-gallery-container .img-gallery-row .item {
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(450px);
  }
  .sneaker-title h2 {
    bottom: 104px;
    font-size: 190px;
  }
}
/* ------------------------------------------------------------------------------------------------------------ */
@media (max-width: 1160px) {
  .hero-img {
    left: 20%;
  }
  .hero-container {
    padding: 160px 0px;
  }
  .strip-container {
    padding: 70px 0px;
    height: 250px;
  }
  .black-strip-row ul li {
    font-size: 20px;
    font-weight: 700;
  }
  .white-strip-row ul li {
    font-size: 20px;
    font-weight: 700;
  }
  .showcase-row {
    grid-template-columns: 1fr;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .default-img,
  .hover-img {
    object-fit: cover;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */
@media (max-width: 1024px) {
  .hero-img {
    left: 10%;
  }
  .hero-container {
    padding: 130px 0px;
  }
  .hero-description h2 {
    font-size: 100px;
    font-weight: 800;
  }

  .black-strip-row ul li {
    font-size: 15px;
    font-weight: 600;
  }
  .white-strip-row ul li {
    font-size: 15px;
    font-weight: 600;
  }
  .brand-logo img {
    width: 200px;
    height: 20px;
  }
  .sneaker-title h2 {
    bottom: 89px;
    font-size: 162px;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */
@media (max-width: 910px) {
  .hero-img {
    left: 8%;
  }
  .hero-img img {
    width: 640px;
  }
  .hero-container {
    padding: 100px 0px;
  }
  .hero-description h2 {
    font-size: 90px;
  }
  .brand-logo img {
    width: 170px;
    height: 17px;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */
@media (max-width: 875px) {
  .hero-img {
    left: 15%;
  }
  .hero-img img {
    width: 620px;
  }
  .hero-description h2 {
    font-size: 70px;
  }
  .strip-container {
    padding: 50px 0px;
    height: 200px;
  }
  .black-strip-row ul li {
    font-size: 10px;
    font-weight: 600;
  }
  .white-strip-row ul li {
    font-size: 10px;
    font-weight: 600;
  }
  .sneaker-title h2 {
    bottom: 76px;
    font-size: 141px;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */
@media (max-width: 768px) {
  .header {
    justify-content: center;
  }
  .con-qua {
    display: none;
  }
  .cart {
    display: none;
  }
  .hero-row {
    text-align: center;
    margin: 0px auto;
  }
  .hero-price {
    justify-content: center;
  }

  .hero-img img {
    width: 540px;
  }
  .nav-section nav ul .links {
    display: none;
  }
  .nav-section nav ul .link-toggle {
    display: block;
  }
  .hero-description .exp-p {
    font-size: 15px;
  }
  .strip-container {
    display: none;
  }
  .img-gallery-container {
    height: 40vh;
  }
  .img-gallery-container .img-gallery-row {
    width: 120px;
    height: 160px;
  }
  .img-gallery-container .img-gallery-row .item {
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(350px);
  }
  .model {
    display: none;
  }
  @keyframes rotation {
    0% {
      transform: perspective(1000px) rotateY(0deg);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg);
    }
  }
  .sneaker-title {
    display: none;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */
@media (max-width: 665px) {
  .hero-img {
    left: 15%;
  }
  .hero-img img {
    width: 350px;
  }
  .hero-container {
    padding: 90px 0px;
  }
  .hero-description h2 {
    font-size: 50px;
  }
  .showcase-col2 {
    grid-template-columns: 1fr;
    row-gap: 13px;
    column-gap: 0px;
    background-image: linear-gradient(90deg, white 50%, black 0%);
  }
  .show-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .product-heading h2 {
    font-size: 30px;
  }
  .product-heading h2 span img {
    max-width: 80px;
  }
  .product-grid {
    grid-template-columns: 1fr;
  }
}

/* ------------------------------------------------------------------------------------------------------------- */
@media (max-width: 480px) {
  .img-gallery-container {
    height: 30vh;
  }
  .img-gallery-container .img-gallery-row {
    width: 100px;
    height: 130px;
  }
  .img-gallery-container .img-gallery-row .item {
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(250px);
  }
}
/* ------------------------------------------------------------------------------------------------------------ */
@media (max-width: 425px) {
  .hero-img {
    left: 15%;
  }
  .hero-img img {
    width: 295px;
  }
  .hero-description h2 {
    font-size: 41px;
  }
  .hero-row {
    padding: 70px 0px;
    text-align: center;
  }
  .hero-description .exp-p {
    font-size: 14px;
  }
  .value h3 {
    font-size: 35px;
  }

  .hero-btn .detail-btn {
    padding: 8px 9px;
  }
  .hero-btn .shop-btn {
    padding: 8px 14px;
    margin-top: 10px;
  }
  .showcase-col1 {
    padding: 30px;
  }
  .product-heading h2 {
    font-size: 25px;
  }
  .product-heading h2 span img {
    max-width: 68px;
  }
}

/* ---------------------------------------------------------------------------------------------------------------- */
@media (max-width: 375px) {
  .hero-img {
    display: none;
  }
  .product-heading {
    display: none;
  }
  .default-img,
  .hover-img {
    object-fit: contain;
  }
  .product-img {
    height: 200px;
  }
  .signup-form form input {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
  }
  .signup-form form .signup-btn {
    border-radius: 15px;
    margin-top: 10px;
  }
}
/* ------------------------------------------------------------------------------------------------------------ */
