@media (max-width: 1345px) {
  .hero-img {
    left: 30%;
  }
}
@media (max-width: 1160px) {
  .hero-img {
    left: 20%;
  }
}
@media (max-width: 1024px) {
  .hero-img {
    left: 10%;
  }
}
@media (max-width: 910px) {
  .hero-img {
    left: 8%;
  }
}
@media (max-width: 875px) {
  .hero-img img {
    left: 0;
    width: 700px;
  }
}
@media (max-width: 768px) {
  .hero-img {
    display: none;
  }
}
